.foot_btn{
   background-color: #b968ff;
}
a.foot_icon_1.me-2 {
    color: #b87fea;
    text-decoration: none;
}
.foot_con_1{
    text-decoration: none;
    color: #b968ff;
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer-md-right {
    text-align: right;
  }
}
