.underline {
  width: 100px;
  height: 3px;
  background-color: #b968ff; /* Blue underline */
}

.testimonial-card {
  max-width: 700px;
  margin: auto;
  margin-top: 50px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1) ;
}

.testimonial-card:hover{
  transform: translateY(-5px);
  box-shadow: 0 8px 16px #3f51b5;
 }

.swiper-pagination-bullet {
  background: #b968ff !important;
  opacity: 0.5;
}
.swiper-pagination-bullet-active {
  opacity: 1;
}


.swiper-button-prev,
.swiper-button-next {
  color: #b968ff !important;
}
